*.hex
.dep/
*.lst
*.map
*.eep
*.user
*.o
*.elf
pcb/20keypad-backups/
*.kicad_pcb-bak
pcb/20keypad-cache.lib
pcb/20keypad-rescue.dcm
pcb/20keypad-rescue.lib
pcb/20keypad.kicad_prl
*.sch-bak
pcb/*.bin
pcb/20kleypad-gerber.zip
pcb/fp-info-cache
pcb/sym-lib-table
*.blend1
*.bak
